.details-body {
    background-color: forestgreen;
    position: relative;
    /*width:100%;*/
    height: 100%;
}

.card-details {
    margin: 40px auto;
    width: 50%;
    background-color: lightblue;
    border-radius: 15px;
}

.fdiv {
    word-break: break-all;
    width: 55%;
    max-height: 30px;
    font-size: 16px;
    padding: 6px;
}

.details-body select {
    margin: 10px;
    font-size: large;
}