.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 60px;
}

.App-header {
    background-color: cadetblue;
    height: 100px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 2em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#root {
    height: 100%;
}

.App {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.App-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.App-todos-body {
    background-color: forestgreen;
    display: flex;
    height: 100%;
}

.App-footer {
    background-color: #222;
    height: 100px;
    padding: 20px;
    color: white;
}